<%# displays head section for menu categories page %>
<section class = "Categories-head">
    <h1 class = "Categories-title">Categories</h1>
    <%# fetches the CSS selector given in data-target and renders it with the help of link to tag %>
    <%= link_to 'Add Category',
        menu_categories_path,
        {:remote => true,
         'data-toggle' =>  "modal",
         'data-target' => '#add_category_modal',
          class: "Add_category_btn",
        }
    %> <%# sets link for adding new category %>
</section>

<%# renders partial file named addCategory %>
<%= render partial: "addCategory" %>


<%# this block display's the  main content for the menu categories page %>
<main class = "Categories-main">
 <section class = "CategorySection">

        <% if flash[:error] %>
            <p class = "Flash-error-category">
                <%= flash[:error] %>
            </p>
        <% end %>
        <%# iterates over each category item and renders it %>
         <% MenuCategory.all.each do |category| %>
            <section class = "CategorySection-item">

                <%# displays the name of the category%>
                <p class = "Category" ><%= category.name %></p>
                <%# renders the Edit and the update icon on hover %>
                <section class = "Update-delete">
                      <p class = <%= (category.status == "Active") ? "Active_status" : "Inactive_status" %>>
                            <%= (category.status == "Active") ? "Active" : "Inactive" %>
                      </p>
                      <%# fetches the front end page to edit category details with the help of given url %>
                      <%= form_with(url: "/menu_categories/edit/#{category.id}", method: "get") do %>
                        <%= image_submit_tag("updateimg.png" , class: "Category_update") %>
                      <% end %>

                      <%# deletes the category when delete icon is clicked %>
                      <%= link_to image_tag("trash.png" , class: "Category_delete"),"menu_categories/#{category.id}", method: :delete,
                      data: { confirm: "Are you sure you want to delete?"} %>
                </section>
            </section>
       <% end %>
   </section>
</main>
