<%# For the side Menu Bar %>
<div class="Dashboard-list">
    <a href="#" class = "home"><i style="font-size:24px" class="fa">&#xf015;</i>  Dashboard</a>
    <a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>  Categories</a>
    <a href="#"><i style="font-size:24px" class="fa">&#xf07a;</i>  Orders</a>
    <a href="#"><i class="fa fa-bars"></i>  Menu Items</a>
    <a href="#"><i style="font-size:24px" class="fa">&#xf08b;</i>  Logout</a>
</div>

<%# To display Categories Head %>
<section class = "Categories-head">
    <h1 class = "Categories-title">Categories</h1>
    <%= link_to 'Add Category',
         menu_categories_path,
         {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#add_category_modal',class: "Add_category_btn"}
    %>
</section>

<main class = "Categories-main">
 <section class = "CategorySection">
        <% check = false %>
        <%# To iterate over each category item and to render it %>
         <% MenuCategory.all.each do |category| %>
            <section class = "CategorySection-item">
                <%# To display the name of the category%>
                <p class = "Category"> <%= category.name %> </p>

                <%# To render the Edit and the update icon on hover %>
                 <% temp = render :partial => "editCategory", :locals => {:head => "Update Category"} %>
                 <section class = "Update-delete">

                    <a href="#" onclick = "Display()" >
                      <img src = "updateimg.png" class = "Category_update">
                    </a>
                    <script>
                       function Display() {
                           document.getElementById("edit_category_modal").display = "block";
                       }
                    </script>
                    <a href="javascript:void(0)">
                      <%= form_with(url: "/menu_categories/#{category.id}", method: "delete") do %>
                         <%= image_submit_tag("trash.png" , class: "Category_delete") %>
                      <% end %>
                    </a>
                </section>
            </section>
       <% end %>
   </section>
</main>
<!-- Button trigger modal -->
<%= render partial: "modalform"%>


 <%= link_to image_submit_tag("updateimg.png" , id:class: "Category_update"),
                            menu_categories_path,
                            {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#edit_category_modal'}
                        %>
