<%# Display's the head section in update category page %>
<section class = "UpdateCategories-head">
    <h1 class = "UpdateCategories-title">Update Menu Category</h1>
     <%= link_to menu_categories_path, class: 'Back_to_orders' do %>
         <span aria-hidden="true">&times;</span>
     <% end %>
</section>

<%# this block edits the category %>
<main class = "Categories-main">
    <section class = "Update_menu_category">

      <%# form to update the category name %>
      <%= form_with(url: "/menu_categories/#{@id}", method: "put") do %>

       <div class = "AddCategoryBody_section">
          <p class = "Category_label"> Category Name:</p>
          <div class = "Enable_option">
              <label>Enable Category for customer</label>
              <%= check_box_tag "status", value = "Active", checked: true,class: "Enable_checkbox" %>
          </div>
        </div>
        <%= text_field_tag 'name', @category.name, class: 'Update_category_input' %><br><br>
            <div class = "UpdateCategory-buttons">
              <%= submit_tag "Update", class: "UpdateCategory-submit" %>
              <%= link_to "Cancel",menu_categories_path,class: "UpdateCategory-cancel" %>
            </div>
      <% end %>
    </section>
</main>
