<%# renders sign in page %>

<% if flash[:error] %>
  <p class = "Flash-error">
      <%= flash[:error] %>
  </p>
<% end %>
<%# shows flash message when the feilds given by the user doesn't match %>

<section class = "Signin-form"> <%# show sign in form%>

  <p class = "NewUsers-title">Sign In</p>  <%# show welcome message when user signs in %>
  <section class = "ExistingUser">
      <%# shows form for the existing user %>
      <%= form_with(url: new_sessions_path) do |form| %>
          <div class = "Form-section">
            <p class = "FormInput-label">Email: </p>
            <%= form.email_field :email, class:"Form-input",required:true  %>
          </div>    <%# accepts name %>

          <div class = "Form-section">
            <p class = "FormInput-label">Password: </p>
            <%= form.password_field :password, class:"Form-input",required:true  %>
          </div>    <%# accepts password %>

          <div class = "Form-section">
            <%= form.submit "Sign-in", class:"Form-submit"  %>
          </div> <%# submits form if entered values gets matched for an existing user %>
      <% end %>

      <%= link_to "Create New Account?", new_user_path, class: "NewAccount" %>   <%# link for the new user to sign up %>
  </section>
</section>
