
<%# Display's the head section in menu items page %>
<section class = "MenuItems-head">
    <h1 class = "MenuItems-title">Menu Items</h1>
</section>

<%# this block display's the  main content for the menu items page %>
<main class = "Categories-main">   <%# style's the main contents %>
    <section class = "CategorySection">  <%# style's each category section %>

        <%# iterates over each category item & renders it %>
         <% MenuCategory.all.each do |category| %>

              <section class = "CategorySection-item"
                  data-toggle="collapse"
                  data-target=<%= "#id#{category.id}" %>
                  aria-expanded="false">
                  <%# renders the collapse with the help of css selector given in data target %>

                    <p class = "Category" >  <%# renders the dropdown caret symbol and name of the category %>
                      <i class="fa fa-caret-right" onclick = "myFunc()"  id =<%= "text#{category.id}" %>></i>
                      <%= "#{category.name}"%>
                    </p>

                    <%# renders the add menu icon and redirects path to create a new menu item on click %>
                    <%= form_with(url: "/menu_items/new/#{category.id}", method: "get") do %>
                      <%= image_submit_tag("menu_item_add.png" , class: "AddIcon_menu_item",title: "Add Menu Item") %>
                    <% end %>

              </section>

              <%# renders the items belongs to each category %>
              <div class="collapse" id=<%= "id#{category.id}" %>>
                  <%# change the caret to down when respective id clicked %>
                  <script>
                    function  myFunc() {
                      $(document).ready(function(){
                        $(<%= "text#{category.id}" %>.id).click(function(){
                          $(<%= "text#{category.id}" %>.id).toggleClass("fa fa-caret-down");
                        });
                      });
                    }
                  </script>

                  <%# stores id of each category in a variable and sends to model method %>
                  <% category_id = "id#{category.id}"[2..].to_i %> <%# stores id of each category in a variable and sends to model method %>

                  <%# iterates over each category item and show's respected items on clicking the respective category %>
                  <%  MenuItem.show_menu_item(category_id).each do |item| %>
                      <div class = "menu_items">
                          <%# renders name of the menu item %>
                          <p><%= item.name %></p>
                          <%# shows edit icon and delete icon on hovering the menu item %>
                          <section class = "Update-delete">
                              <%= link_to image_tag("updateimg.png",class: "Item_update",title: "Update Menu Item"),
                                  "/menu_items/show_update/#{item.id}"
                              %>
                              <%= link_to image_tag("destroy.png",class: "Item_delete",title: "Delete Menu Item"),
                                  menu_items_path %>
                          </section>
                      </div>
                  <% end %>
              </div>
       <% end %>
    </section>
</main>
