<div class = "Navbar_users">
  <div class = "Navbar_users_contents"><a href="/categories">Menu Categories</a></div>
  <div class = "Navbar_users_contents"><a href=<%="/show_menu_items/#{MenuCategory.first.id}" %>>Menu Items</a></div>
  <div class="dropdown">
    <button class="Navbar_profile" type="button" data-toggle="dropdown"><%= @current_user.first_name%>
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Orders</a></li>
      <li><%= link_to "Sign out",destroy_session_path,method:"delete" %></li>
    </ul>
  </div>
</div>

<div class = "Checkout_page">
    <% if (MenuCategory.all.empty?)%>
        <%= link_to image_tag("previous.png",class:"previous_btn"),categories_path %>
    <% else %>
        <%= link_to image_tag("previousicon.png",class:"previous_btn"),show_menu_items_path(MenuCategory.first) %>
    <% end %>
    <div class = "confirm_order_section">
         <div class = "checkout_head">CHECKOUT</div>
         <% if(Address.Show_current_user_address(@current_user.id).empty?) %>
            <div class = "NewUser_Delivery_address">
              <%= form_with(url: "/addresses", method: "post") do %>
                    <%= text_area_tag 'address', nil,placeholder: "Address Here",required: true,class: "NewUser_address_feild",id:"check_address" %>
                    <%= submit_tag "Add",class: "AddNew_address" %>
              <% end %>
            </div>
         <% else %>
            <div class = "Delivery_address">
                  <div class = "address_block_text">
                        <p class = "address_text">Delivery Address To </p>
                        <p class = "address_user_name"><%= @current_user.first_name %></p>
                        <i class="fa fa-check-circle" style="font-size:32px;color:green"></i>
                        <%= link_to "Add New Address",cart_items_path,{:remote => true,
                        'data-toggle' =>  "modal",
                        'data-target' => '#add_new_address',
                        class:"AddAddress_new"
                   } %>
                  </div>

                <div class = "phone_no_block">
                  <%= form_with(url: "/users/#{@current_user.id}", method: "patch") do %>
                    <%= text_field_tag "phone_no",@current_user.phone_no,class:"phone_no_text",id:"Change_ph_no" ,disabled:true %>
                    <button class="Change_ph_no" type="button" data-toggle="collapse"
                      data-target="#PhoneNo_collapse" aria-expanded="false" aria-controls="collapseExample">
                      Change Phone No.
                    </button>

                    <div class="collapse phone_no" id="PhoneNo_collapse">
                      <div class="collapse_body">
                          <%= text_field_tag "phone_no",@current_user.phone_no,class:"phone_no_text_collapse",id:"Change_ph_no"%>
                          <%= submit_tag "Update",class: "Update_phone_no"%>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>


            <div class = "Saved_Addresses">
                <% delivery_id = @current_user.addresses.find_by(delivery_address: true).id %>

                <% Address.Show_current_user_address(@current_user.id).order(:delivery_address).each do |address| %>
                      <div class = "Saved_address_block">
                          <div class = "Saved_address_text">
                              <%= form_with(url: "delivery_address_change/#{address.id}", method: "put") do %>
                                  <% if(delivery_id == address.id) %>
                                    <input type = "radio" name = "address" checked onclick="this.form.submit()" >
                                  <% else%>
                                    <input type = "radio" name = "address" onclick="this.form.submit()" >
                                  <% end %>
                              <% end %>
                              <label class = "Saved_address_words"><%= address.address %></label>
                          </div>

                          <div class = "Saved_address_options">
                            <%= form_with(url: "addresses/#{address.id}", method: "delete") do %>
                                <%= image_submit_tag "deleteimage.png", class: "Close_cart_item" %>
                            <% end %>
                            <a href="javascript:void(0)" data-target = <%= "#Address#{address.id}" %> data-address = <%= address.address%>
                              class= "update_address_link" data-toggle="collapse"><%= image_tag("editimage.png", class:"update_address") %>
                            </a>
                          </div>
                      </div>

                      <div class = "collapse" id = <%= "Address#{address.id}" %>>
                          <%= form_with(url: "addresses/#{address.id}", method: "put",class:"edit_address_block") do %>
                            <%= text_field_tag "address",address.address,class:"Address_change_text" %>
                            <%= submit_tag "Update",class: "Update_phone_no"%>
                          <% end %>
                      </div>
                <% end %>
            </div>
         <% end %>
    </div>

    <%= render partial: "address",locals: {head: "Add New Address",submit_value: "Create",url: "/addresses",request: "post",text_value: nil} %>

    <div class="Cart_Section_checkout">
      <p class = "cart_title">Cart</p>
      <% cart = Cart.find_by(user_id: @current_user.id) %>
      <% if(CartItem.show_cart_item(cart.id).empty?) %>
        <%= image_tag "emptycart.png",class: "EmptyCart_img" %>
        <p class = "EmptyCart_msg">Your cart is Empty<br>Looks like you haven't added anything to your cart yet.</p>
      <%else%>
        <div class = "CartItems_block">
            <% CartItem.show_cart_item(cart.id).each do |cart_item| %>
              <div class = "CartItems_single">
                  <div class = "CartItem_firstrow">

                      <div class = "CartItem_firstrow_left">
                          <%= form_with(url: "/cart_items/#{cart_item.id}", method: "delete") do %>
                                <%= image_submit_tag "deleteimage.png", class: "Close_cart_item" %>
                          <% end %>
                          <p><%= cart_item.menu_item_name %></p>
                      </div>

                      <div class = "CartAdd_btn">
                          <%= form_with(url: "/update_quantity/#{"add"}/#{cart_item.id}", method: "post") do %>
                              <%= submit_tag "+", class: "PlusButton"%>
                          <% end %>
                          <p class = "cart_quantity"><%= cart_item.quantity %></p>
                          <%= form_with(url: "/update_quantity/#{"sub"}/#{cart_item.id}", method: "post") do %>
                              <%= submit_tag "-", class: "MinusButton"%>
                          <% end %>
                      </div>
                  </div>
                  <p id = "price<%=cart_item.id%>" class = "cart_price">&#8377;<%= cart_item.temp_price %></p>
              </div>
            <%end %>
             <div class = "cart_footer">
                <div  class = "To_pay">
                  <p> To Pay </p>
                  <p class = "subtotal_amt"> &#8377; <%= cart.cart_items.sum(:temp_price) %></p>
                </div>
                <div class = "Checkout_clear">
                   <%= form_with(url: "orders", method: "post") do %>
                      <%= submit_tag "Confirm Order",class:"confirm_order_btn", disabled: (@current_user.addresses.empty?) ? true : false %>
                   <% end %>
                   <%= link_to "ClearCart",destroy_all_cart_items_path,method:"delete",class:"clearCart"%>
                </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>

// function CheckAddress(value) {
//    document.querySelector('p.display_address').innerHTML = value;
//    alert($(this).attr("id"))
// }
// $(function () {
//   $('[data-toggle="popover"]').popover()
// })

// $(".Check_address_radio").click(function() {
//   $(this).submit()
// })

// function focusInput() {
//   var focus = document.getElementById('Change_ph_no');
//   focus.value = " ";
//   focus.focus();
//   focus.disabled = false;
// }

// let button = document.getElementById("confirm_btn");
// let input = document.getElementById("check_address");
// input.addEventListener("input", function(e) {
// 	if(input.value.length > 5) {
//   	button.removeAttribute("disabled")
//   }
// })
// function Enable_confirm() {
//   button.removeAttribute("disabled");
// }


// $(document).ready(function() {
//   $(".update_address_link").click(function () {
//     // $(document).hide()
//     var clicked = $(this).attr("data-attribute")
//     var address = $(this).attr("data-address")
//     alert(address)
//     $(".confirm_order_section").css("z-index",-1)
//     $("#AddressModal").show()
//     $("#AddressModal").find("h1").html("Update Address");
//     $("#AddressModal").find(".Address_form").attr("url", 'addresses/'+clicked);
//     $("#AddressModal").find(".AddAddress_btn_modal").attr("value","Update");
//     $("#AddressModal").find(".Address_form").attr("method" ,'put');
//     $("#AddressModal").find('.AddAddress_modal').attr("value",address)
//   })
// });
</script>
