<ul class = "Navbar_users">
  <li class = "Navbar_users_contents"><a href="#">Menu Categories</a></li>
  <li class = "Navbar_users_contents"><a href="#">Your orders</a></li>
  <li class = "Navbar_users_contents"><a href="#">Menu Items</a></li>
  <li class = "Navbar_users_contents" style="float:right">
   <%= link_to "Sign out",destroy_session_path,method:"delete" %>
  </li>
  <li class = "Welcome" style="float:right">Welcome <%= @current_user.first_name %></li>
</ul>
<div class = "Checkout_page">
    <div class = "confirm_order_section">
       <%= link_to "Add New",cart_items_path,{:remote => true,
         'data-toggle' =>  "modal",
         'data-target' => '#add_new_address',
         class:"AddNew_address"
        } %>

       <div class = "Delivery_address">
         <% Address.Show_current_user_address(@current_user.id).each do |address| %>
           <label><%= address.address %></label>
           <input type = "radio" name = "address">
           <%= form_with(url: "addresses/#{address.id}", method: "delete") do %>
              <%= image_submit_tag "destroy.png", class: "Close_cart_item" %>
           <% end %>
           <br>
         <% end %>
       </div>
    </div>
    <div class="Cart_Section">
          <p class = "cart_title">Cart</p>
          <% cart = Cart.find_by(user_id: @current_user.id) %>
          <% if(CartItem.show_cart_item(cart.id).empty?) %>
            <%= image_tag "emptycart.png",class: "EmptyCart_img" %>
            <p class = "EmptyCart_msg">Your cart is Empty<br>Looks like you haven't added anything to your cart yet.</p>
          <%else%>
            <div class = "CartItems_block">
                <% CartItem.show_cart_item(cart.id).each do |cart_item| %>
                  <div class = "CartItems_single">
                      <div class = "CartItem_firstrow">

                          <div class = "CartItem_firstrow_left">
                              <%= form_with(url: "/cart_items/#{cart_item.id}", method: "delete") do %>
                                    <%= image_submit_tag "destroy.png", class: "Close_cart_item" %>
                              <% end %>
                              <p><%= cart_item.menu_item_name %></p>
                          </div>

                          <div class = "CartAdd_btn">
                              <%= form_with(url: "/update_quantity/#{"add"}/#{cart_item.id}", method: "post") do %>
                                  <%= submit_tag "+", class: "PlusButton"%>
                              <% end %>
                              <p class = "cart_quantity"><%= cart_item.quantity %></p>
                              <%= form_with(url: "/update_quantity/#{"sub"}/#{cart_item.id}", method: "post") do %>
                                  <%= submit_tag "-", class: "MinusButton"%>
                              <% end %>
                          </div>
                      </div>
                      <p id = "price<%=cart_item.id%>" class = "cart_price">&#8377;<%= cart_item.temp_price %></p>
                  </div>
                <%end %>
                <div class = "cart_footer">
                    <div  class = "Cart_subtotal">
                      <p> Subtotal </p>
                      <p class = "subtotal_amt"> &#8377; <%= CartItem.show_cart_item(cart.id).sum(:temp_price) %></p>
                    </div>
                    <div class = "Checkout_clear">
                      <%= link_to "Checkout >",new_sessions_path,class: "Checkout_button"  %>
                      <%= link_to "ClearCart",menu_items_path,class:"clearCart"%>
                    </div>
                </div>
              </div>
          <% end %>
    </div>
  </div>
</div>


<%# displays the bootstrap modal %>
<div id="add_new_address" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">

    <%# Contents of the form(to Add category) %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <%# boostrap modal header %>
            <div class="modal-header">
                Add New Address
                <button type="button" class="closemodal" data-dismiss="modal">&times;</button>
            </div>

            <%# boostrap modal body %>
            <div class="modal-body">
               <%# form to get the name of the category to add it to categories %>
               <%= form_with(url: "/addresses", method: "post") do %>

                    <%= text_field_tag 'address', nil%>
                    <%# submits the form %>
                    <div class="modal-footer">
                         <%= submit_tag "Create" %>
                    </div>
               <% end %>
            </div>
        </div>
    </div>
</div>
