<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# To display the Profile on top of the page %>
    <section class = "PageHead"><p class = "PageHead-title">Cafeteria Management System</p></section>
    <%= yield %>
  </body>
</html>
