<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# show navbar based on the user signing in %>
    <%if(@current_user) %>
      <%# renders top navbar if customer or clerk logs in with the details to move on to the app  %>
      <% if (@current_user.role == "user" || @current_user.role == "clerk" ) %>
        <div class = "Navbar_users">
          <% if(@current_user.role == "user") %>
             <div class = "Navbar_users_contents"><a href="/categories">Home</a></div>
          <% else %>
             <div class = "Navbar_users_contents"><a href="/clerks">Home</a></div>
          <% end %>
          <div class = "Navbar_users_contents"><a href="/categories">Menu Categories</a></div>
          <div class = "Navbar_users_contents"><%= link_to "Menu Items",show_menu_items_path %></div>

          <div class="dropdown">
            <button class="Navbar_profile" type="button" data-toggle="dropdown"><%= @current_user.first_name%>
              <i style="font-size:16px" class="fa">&#xf0d7;</i>
            </button>
            <ul class="dropdown-menu">
              <li><a href = "#" data-toggle="modal" data-target="#update_profile"><i class="fa fa-user" style="font-size:24px"></i>  Profile </a></li>
              <li>
                  <%= link_to customer_orders_path(@current_user.id) do %>
                    <i style="font-size:24px" class="fa">&#xf07a;</i>  Orders
                  <% end %>
              </li>
               <li>
                  <%= link_to destroy_session_path,method:"delete" do %>
                    <i style="font-size:24px" class="fa">&#xf08b;</i> Logout
                  <% end %>
              </li>
            </ul>
          </div>
        </div>
        <% elsif(@current_user.role == "owner") %>   <%# if owner logs in %>
          <section class = "PageHead"><p class = "PageHead-title">Cafeteria Management System</p></section>
            <div class="Dashboard-list">
                <a href="/dashboard"><i style="font-size:24px" class="fa">&#xf015;</i>  Dashboard</a>
                <a href="/menu_categories"><i class="fa fa-list-alt" aria-hidden="true"></i>  Categories</a>
                 <%= link_to orders_path,method:"get" do %>
                   <i style="font-size:24px" class="fa">&#xf07a;</i>  Orders
                <% end %>

                <%= link_to reports_path,method:"get" do %>
                   <i class="fa fa-bar-chart" aria-hidden="true"></i>  Reports
                <% end %>

                <a href="/menu_items"><i class="fa fa-bars"></i>  Menu Items</a>
                <a href="#" data-toggle="modal" data-target="#update_profile"><i class="fa fa-user" style="font-size:24px"></i>  Profile </a>
                <%= link_to destroy_session_path,method:"delete" do %>
                   <i style="font-size:24px" class="fa">&#xf08b;</i>  Logout
                <% end %>
            </div>
        <% end %>
      <% end %>
    <%= yield %>
  </body>
</html>

<%# renders partial to update a profile %>
<% if(@current_user) %>
  <%=render partial: "users/update_profile" %>
<% end %>
