<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# To display the Profile on top of the page %>
    <%# <section class = "PageHead"><p class = "PageHead-title">Cafeteria Management System</p></section>

    <div class="Dashboard-list">
        <a href="#"><i style="font-size:24px" class="fa">&#xf015;</i>  Dashboard</a>
        <a href="/menu_categories"><i class="fa fa-list-alt" aria-hidden="true"></i>  Categories</a>
        <a href = "/orders">
          <i style="font-size:24px" class="fa">&#xf07a;</i>  Orders</i>
        </a>
        <a href="/menu_items"><i class="fa fa-bars"></i>  Menu Items</a>
        <a href="#"><i style="font-size:24px" class="fa">&#xf08b;</i>  Logout</a>
    </div>
 %>

    <div class = "Navbar_users">
      <div class = "Navbar_users_contents"><a href="/categories">Menu Categories</a></div>
      <div class = "Navbar_users_contents"><a href=<%="/show_menu_items/#{MenuCategory.first.id}" %>>Menu Items</a></div>
      <div class="dropdown">
        <button class="Navbar_profile" type="button" data-toggle="dropdown"><%= @current_user.first_name%>
           <i style="font-size:16px" class="fa">&#xf0d7;</i>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Orders</a></li>
          <li><%= link_to "Sign out",destroy_session_path,method:"delete" %></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
